<div class="container">
    <table class="table is-fullwidth is-striped is-hoverable">
        <thead>
            <tr>
              <th>Name</th>
              <th>City</th>
              <th>Company Name</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let user of users">
                  <td>{{user.name}}</td>
                  <td>{{user.address.city}}</td>
                  <td>{{user.company.name}}</td>
              </tr>
          </tbody>
    </table>
</div>